name: reaktplot

{% set python_version = os.environ.get("PYTHON_VERSION", "3.9") %}

channels:
  - conda-forge

dependencies:
  - catch2 =2
  - ccache  # [unix]
  - clangxx_osx-64  # [osx]
  - cmake
  - doxygen =1.9.1  # [linux]
  - git
  - ffmpeg
  - graphviz  # [linux]
  - gxx_linux-64  # [linux]
  - ipykernel
  - make  # [unix]
  - nbformat >=4.2
  - ninja
  - numpy
  - pandas
  - pip
  - plotly
  - pybind11
  - pybind11-abi
  - pybind11-stubgen
  - pytest
  - pytest-xdist
  - python ={{ python_version }}
  - python-kaleido
  - vs2019_win-64  # [win]
  - pip:
    - mkdocs
    - mkdocs-material
    - mkdocs-macros-plugin
